.logo{
}
.logo img{

            padding: 5px;
            width: 50px;
            height: 60px;
}

.logo img:hover{
    filter: opacity(.4);


}

/* .logo :hover {-webkit-transform:scale(1.3);transform:scale(1.3);} */
.logo {overflow:hidden;}