
.links{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
link{
    justify-content: center;
    text-align: center;
    
}